.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.search {
  display: flex;
  position: relative;
  margin-bottom: 25px;
}

.search img {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2px;
  right: 15px;
}

.search input {
  height: 28px;
  border: 1px solid rgb(153, 153, 153);
  width: 100%;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 18px;
}

.search input:focus {
  outline: none;
  border: 1px solid rgb(85, 85, 85);
}

.users {
  display: flex;
  flex-wrap: wrap;
}

.user-block {
  flex: 0 1 30%;
  height: 140px;
  margin: 0 12px 15px 0px;
  border: 1px solid rgb(184, 184, 184, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgb(184, 184, 184, 0.4);
  padding: 10px;
  cursor: pointer;
}

.user-block__title {
  font-size: 18px;
  font-weight: 600;
}

.user-block__number {
  margin: 16px 0;
  display: flex;
  font-size: 16px;
}

.user-block__mail {
  margin: 16px 0;
  display: flex;
  font-size: 16px;
}

.user-block__icon {
  width: 18px;
  margin-right: 6px;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.pop-up {
  padding: 25px 20px;
  background-color: white;
  border-radius: 12px;
  height: 300px;
  width: 500px;
  position: relative;
}

.pop-up__close {
  position: absolute;
  top: -17px;
  left: 50%;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #9B59B6;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: white;
  cursor: pointer;
}

.pop-up__name {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
}

.pop-up__content {
  display: flex;
  flex-wrap: nowrap;
  height: 20px;
  font-size: 16px;
  margin-bottom: 8px;
}

.pop-up__title {
  font-weight: 600;
  flex: 0 0 50%
}

.pop-up__value {
  overflow: hidden;
}

.pop-up__value.underlined {
  text-decoration: underline;
}

.pop-up__info {
  margin-top: 30px;
  font-weight: 600;
}

.pop-up__info div {
  font-weight: normal;
  margin-top: 5px;
}